<div class="container">

	<div class="alert alert-danger alert-dismissable" ng-show="!model.datasets.length">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Oops! You haven't uploaded any datasets. If you are an administrator click <a ng-click="setLocation('/admin/upload')">here</a>, otherwise please contact the designated administrator.
	</div>
	
	<div class="row" style="margin-top:50px">
	
		<div class="col-md-7 col-md-offset-5">
			
			<table class="table table-striped table-hover table-bordered" ng-show="model.datasets">
			
				<thead>
				
					<th>Dataset</th>
					<th>Owner</th>
					<th>Type</th>
					<th>Cached</th>
					<th>Updated</th>
					
				</thead>
				
				<tbody>
				
					<tr ng-repeat="dataset in model.datasets">
					
						<td><a ng-href='#!/view/{{dataset.id}}'>{{dataset.name}}</a></td>
						<td class="small">{{dataset.user?dataset.user:'[orphaned user]'}}</td>
						<td class="small">{{dataset.type}}</td>
						<td class="small">{{dataset.cached?'Yes':'No'}}</td>
						<td class="small">{{dataset.updated*1000 | date:'shortDate'}}</td>
						
					</tr>
				
				</tbody>
				
			</table>
			
		</div>
		
	</div>

</div>