<div class="container">

	<div class="alert alert-warning alert-dismissable" ng-show="adminModel.status!=null">
		<button type="button" class="close" aria-hidden="true" ng-click="adminModel.status=null">&times;</button>
		{{adminModel.status}}
	</div>
	
	<div class="alert alert-info alert-dismissable" ng-show="!adminModel.cachingEnabled">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Please add a <code>cache</code> directory under the document root with group read/write permissions to enable caching. This can vastly improve performance for large datasets.
	</div>
	
	<div class="alert alert-warning alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		Don't forget! Personal Identifiable Information (PII) or other confidential information should never be uploaded&mdash;please ensure your date is appropriately de-identified and ready for public consumption prior to using this tool.  
	</div>
	
	<form name="uploadForm" role="form" class="form-horizontal">
		
		<div class="form-group">
   			
   			<div class="col-lg-10">
    			<h2 id="header">Upload a Dataset</h2>
   			</div>
   			
   		</div>
   		
  		<div class="form-group">
  			
   			<label class="col-lg-1" for="entity-parent">Name</label>
   			
   			<div class="col-lg-6">
    			<input class="form-control input-sm" type="text" ng-model="adminModel.formData.upload.name" placeholder="Name for the dataset" />
   			</div>
   			
   		</div>
   		
   		<div class="form-group">
  			
   			<label class="col-lg-1" for="entity-parent">Type</label>
   			
   			<div class="col-lg-6">
   				<select class="form-control input-sm" ng-model="adminModel.formData.upload.type_id" ng-options="t.id as t.label for t in adminModel.importTypeOptions"></select>
   			</div>
   			
   		</div>
   		
  		<div class="form-group">
  			
  			<label class="col-lg-1" for="entity-parent">File</label>
  			
   			<div class="col-lg-6">
   				<input type="file" ng-model="adminModel.formData.upload.file" file-upload />
  			</div>
   			
   		</div>
		
		<div class="form-group">
  			
   			<label class="col-lg-1" for="entity-parent">Public?</label>
   			
   			<div class="col-lg-6">
   			
   				<input type="checkbox" data-size="small" ng-model="adminModel.formData.upload.is_public" bootstrap-switch data-on-label="Yes" data-off-label="No" data-on="info" data-off="success">
				
			</div>
			
   		</div>
   		
		<div class="form-group">
		
			<div class="col-lg-1 col-lg-offset-1">
	    		<button type="button" class="btn btn-default" ng-click="uploadDataset()">Save</button>
	   		</div>
		
		</div>
		
	</form>

</div>